  <!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
  <title>Leksyking's Portfolio</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/bootstrap-social.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
 <body>

  <div class="container">
    <nav class="navbar navbar-expand">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">PORTFOLIO </p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li class="nav-item" id="home"><a class="nav-link" href="/">HOME</a></li>
            <li class="nav-item" id="about"><a class="nav-link" href="/about">ABOUT</a></li>
            <li class="nav-item" id="contact"><a class="nav-link" href="/contact">CONTACT </a></li>
          </ul>
      </div>
    </nav>