<%- include("partials/header") -%>

<div class="container">
  <h2>CAREER OBJECTIVE</h2>
    <hr>
    <p>Focused Computer Engineering major currently attending Obafemi Awolowo University, with 2 + years of work experience in Software Development and Hardware Engineering .
      Aiming to leverage a proven knowledge of hardware engineering skills to successfully fill the software developer role at your company.
      Frequently praised as efficient by my peers, I can be relied upon to help your company achieve its goals.
    </p>

  <h2>EXPERIENCE</h2>
        <hr>
    <h3>Wolex-InfoTech</h3>
    <p>Senior Engineer: Osogbo, Osun State - Aug 2020-present</p>
    <ul>
        <li>Test and verify hardware and support peripherals to ensure that they meet specifications and requirements, by recording and analyzing test data.</li>
        <li>Select hardware and material, assuring compliance with specifications and product requirements</li>
        <li>Update knowledge and skills to keep up with rapid advancements in computer teschnology.</li>
        <li>Analyze user needs and recommend appropriate hardware.</li>
        <li>Provide training and support to system designers and users.</li>
    </ul>
    <h3>ALX Africa</h3>
    <p>Software Engineering Intern - Aug 2022-present</p>
    <ul>
        <li>A 12-month ALX Software Engineering Programme to prepare students with the technical and work-ready 
        skills for a global career as a Full-Stack Developer.</li>
        <li><strong >Skills</strong>: Vi · C (Programming Language) · GitHub · Git · Shell Scripting</li>
    </ul>
    <h3>RC Prints</h3> //add website link
    <p>Back End Developer (Freelance) - Aug 2022-present</p>
    <ul>
        <li>An Ecommerce Website to provide quality prints services to customers.</li>
        <li>I built APIs to handle user authentication to include Facebook and Google login functionalities, user profiles, products, customers' requests, orders and payments.</li>
        <li><strong>Skills</strong>: Express.js · Cloudinary · SendGrid · Payment Gateways · Passport.js · Node.js · MongoDB.</li>
    </ul>
    <h3>Bincom Dev Center</h3> //add website link
    <p>Back End Developer (Internship) - March 2022-August 2022</p>
    <ul>
        <li><strong>Project Name</strong>: CalendarChat.</li>
        <li>The project was about building an online application that helps people find experts and book online appointments with them.</li>
        <li>I built APIs for user authentication, user profiles, available slots and book slots.</li>
        <li><strong>Skills</strong>: Node.js · MongoDB · Heroku</li>
    </ul>

  <h2>EDUCATION</h2>
    <hr>
    <h3>OBAFEMI AWOLOWO UNIVERSITY Ile Ife</h3>
    <p>Bachelor of Science (B.S.C) Computer Engineering Candidate (Expected Graduation Dec 2025)</p>
    <ul>
        Relevant Coursework: Software Engineering
    </ul>
    <h3>OUR LADY AND ST. FRANCIS CATHOLIC COLLEGE OSOGBO</h3>
    <hr>
    <p>Secondary School Certificate (Jul 2017) </p>
  <h2>ADDITIONAL SKILLS</h2>
    <hr>
    <table>
        <tr>
            <td>HTML</td>
        </tr>
        <tr>
            <td>CSS</td>
        </tr>
        <tr>
            <td>JAVASCRIPT</td>
        </tr>
        <tr>
            <td>NODEJS/EXPRESS</td>
        </tr>
        <tr>
          <td>MONGODB</td>
      </tr>
        <tr>
            <td>GO</td>
        </tr>
        <tr>
            <td>C</td>
        </tr>
    </table>

  <h2>PROJECTS</h2>
  <hr>
  <p><a href="#">Todo List App</a></p>
  <p><a href="#">EDU-API</a></p>
  <p><a href="#">E-Commerce API</a></p>

  <h2>CERTIFICATES</h2>
  <hr>
  <p><a href="https://www.udemy.com/certificate/UC-397f68fc-adc0-45b8-b565-f4cb194b5297/">NodeJs Tutorial and Projects Course</a></p>
  <p><a href="https://www.udemy.com/certificate/UC-bb03270e-0c03-4d35-bcef-a3e9a5765979/">The Complete Go: Golang Bootcamp</a></p>
  </div>

<%- include('partials/footer') -%>
