<%- include("partials/header") -%>
<div class="container">
  <h2>CAREER OBJECTIVE</h2>
    <hr>
    <p>Focused Computer Engineering major currently attending Obafemi Awolowo University, with 1 + years of work experience. Aiming to leverage a proven knowledge of hardware engineering skills to successfully fill the software developer role at your company. Frequently praised as efficient by my peers, I can be relied upon to help your company achieve its goals.</p>

  <h2>EXPERIENCE</h2>
        <hr>
    <h3>Wolex-InfoTech</h3>
    <p>Computer Engineer: Osogbo, Osun State - Aug 2020-present</p>
    <ul>
        <li>Test and verify hardware and support peripherals to ensure that they meet specifications and requirements, by recording and analyzing test data.</li>
        <li>Select hardware and material, assuring compliance with specifications and product requirements</li>
        <li>Update knowledge and skills to keep up with rapid advancements in computer teschnology.</li>
        <li>Analyze user needs and recommend appropriate hardware.</li>
        <li>Provide training and support to support to system designers and users.</li>
    </ul>
  <h2>EDUCATION</h2>
    <hr>
    <h3>OBAFEMI AWOLOWO UNIVERSITY Ile Ife</h3>
    <p>Bachelor of Science (B.S) Computer Engineering Canditate (Expected Graduation Dec 2025)</p>
    <ul>
        Relevant Coursework: Software Engineering
    </ul>
    <h3>OUR LADY AND ST. FRANCIS CATHOLIC COLLEGE OSOGBO</h3>
    <hr>
    <p>Secondary School Certificate (Jul 2017) </p>
 <h2>ADDITIONAL SKILLS</h2>
    <hr>
    <table>
        <tr>
            <td>HTML</td>
            <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
            <td>CSS</td>
            <td>⭐⭐⭐</td>
        </tr>
        <tr>
            <td>JAVASCRIPT</td>
            <td>⭐⭐⭐</td>
        </tr>
        <tr>
            <td>NODEJS</td>
            <td>⭐⭐⭐⭐</td>
        </tr>
        <tr>
            <td>GO</td>
            <td>⭐⭐⭐</td>
        </tr>
    </table>
    <hr>
  <h2>PROJECTS</h2>
   
</div>

</div>
<div class="afooter-padding">
  <div class="afooter">
    <p>Made with ❤️ Leksyking 2022 </p>
  </div>
</div>
</body>
</html>

