<%- include("partials/header") -%>
    
<div class="text-center">
    <img src="/felix.jpg" class="round" alt="Can't load image">
</div>
<div class="intro">
    <h1>Felix Ogundipe</h1>
    <h3>Backend Developer</h3>
    <p>Eesa Tun-Tun Ido-Osun</p>
    <p>07010211863</p>
    <p>gbemilekeogundipe@gmail.com</p>
</div>
<a class="btn btn-primary fa" style="background-color: #3b5998; color: white;" href="https://www.facebook.com/felixoluwagbemileke.ogundipe" target="blank" role="button">
  <i class="fab fa-facebook me-2"></i></a>
<a class="btn btn-primary fa" style="background-color: #3b5998; color: white;" href="https://github.com/leksyking" target="blank" role="button">
  <i class="fa-brands fa-github"></i></a>
<a class="btn btn-primary fa" style="background-color: #3b5998; color: white;" href="https://twitter.com/ogundipe_felix" target="blank" role="button">
  <i class="fa-brands fa-twitter"></i></a>
<a class="btn btn-primary fa" style="background-color: #3b5998; color: white;" href="https://www.linkedin.com/in/felixogundipe/" target="blank" role="button">
  <i class="fa-brands fa-linkedin"></i></a>



<%- include('partials/footer') -%>
